.menu * {
  transition: all 300ms ease-in-out;
}
.burger-button {
  position: relative;
  margin-top: 5px;
  transition: all 300ms ease-in-out;
}
.burger-button::before, .burger-button::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: black;
  left: 0;
  transition: all 300ms ease-in-out;
  transition-delay: 100ms;
}
.burger-button::before{
  transform: translateY(-5px);
}
.burger-button::after{
  transform: translateY(5px);
}
.burger-button-background {
  top: -1rem;
  left: -0.6rem;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  cursor: pointer;
}
.menu .list {
  position: fixed;
  right: 0;
  top: 0;
  width: 20vw;
  transform: translateX(20vw);
  opacity: 0;
  box-shadow: rgba(20,20,20,0.2) -10px 0px 15px;
}
.menu input:checked ~ .list {
  transform: translateX(0);
  opacity: 1;
}
.menu input:checked,
.menu input:checked ~ .burger-button,
.menu input:checked ~ .burger-button-background {
  transform: translateX(-13vw);
}
.menu input:checked ~ .burger-button-background {
  box-shadow: rgba(20,20,20,0.2) -10px 0px 15px;
}
.menu input:checked ~ .burger-button {
  background-color: white;
}
.menu input:checked ~ .burger-button::before {
  transform: rotate(-45deg);
}
.menu input:checked ~ .burger-button::after {
  transform: rotate(45deg);
}
@media (max-width: 1024px) {
  .menu .list {
    left: 0;
    transform: translateX(-60vw);
    width: 60vw;
    box-shadow: rgba(20,20,20,0.2) 10px 0px 15px;
  }
  .menu input:checked,
  .menu input:checked ~ .burger-button,
  .menu input:checked ~ .burger-button-background {
    transform: translateX(53vw);
  }
  .menu input:checked ~ .burger-button-background {
    box-shadow: rgba(20,20,20,0.2) 10px 0px 15px;
  }
  .burger-button-background {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }  
}

.prev-button, .next-button {
  position: relative;
  transition: opacity 250ms ease-in-out;
}

.prev-button::after, .next-button::after {
  content: '';
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -0.5rem;
  background-color: #333333;
  transition: all 250ms ease-in-out;
}
.next-button::after {
  right: 0;
  transform: translateX(-100%);
}
.next-button:hover::after {
  opacity: 1;
  transform: translateX(0);
}
.prev-button::after {
  left: 0;
  transform: translateX(100%);
}
.prev-button:hover::after {
  opacity: 1;
  transform: translateX(0);
}
.prev-button:disabled::after, .next-button:disabled::after {
  content: none;
}
.villa-image {
  transition: transform 500ms ease-in-out;
}
.villa-image:hover {
  transform: scale(1.5);
}
.count-separator {
  transform: rotate(-45deg);
}